<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <!-- T-1400: QR codes are shared as PNG files from the cache (QrShare). -->
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.tools.files"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/tools_file_paths" />
    </provider>
  </application>
</manifest>
