<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-feature android:name="android.hardware.type.watch" />

  <!-- T-1600 (ADR-0019): the watch uses the bundled dataset and city list only. Library permissions it never uses are
       removed from the merged manifest: subscriptions (network), device calendar and device location. -->
  <uses-permission
    android:name="android.permission.INTERNET"
    tools:node="remove" />
  <uses-permission
    android:name="android.permission.READ_CALENDAR"
    tools:node="remove" />
  <uses-permission
    android:name="android.permission.ACCESS_COARSE_LOCATION"
    tools:node="remove" />
  <uses-permission
    android:name="android.permission.ACCESS_FINE_LOCATION"
    tools:node="remove" />

  <application
    android:name=".TaqvimWearApplication"
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:enableOnBackInvokedCallback="true"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/wear_app_name"
    android:supportsRtl="true"
    android:theme="@android:style/Theme.DeviceDefault"
    tools:targetApi="33">
    <meta-data
      android:name="com.google.android.wearable.standalone"
      android:value="true" />

    <activity
      android:name=".WearActivity"
      android:exported="true"
      android:taskAffinity="">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <service
      android:name=".MonthTileService"
      android:exported="true"
      android:label="@string/wear_tile_month"
      android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
      <intent-filter>
        <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
      </intent-filter>
      <meta-data
        android:name="androidx.wear.tiles.PREVIEW"
        android:resource="@drawable/wear_tile_preview_month" />
    </service>

    <service
      android:name=".NextTileService"
      android:exported="true"
      android:label="@string/wear_tile_next"
      android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
      <intent-filter>
        <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
      </intent-filter>
      <meta-data
        android:name="androidx.wear.tiles.PREVIEW"
        android:resource="@drawable/wear_tile_preview_next" />
    </service>

    <service
      android:name=".DateComplicationService"
      android:exported="true"
      android:label="@string/wear_complication_date"
      android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
      <intent-filter>
        <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
      </intent-filter>
      <meta-data
        android:name="android.support.wearable.complications.SUPPORTED_TYPES"
        android:value="SHORT_TEXT" />
      <meta-data
        android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
        android:value="3600" />
    </service>

    <service
      android:name=".MonthProgressComplicationService"
      android:exported="true"
      android:label="@string/wear_complication_month_progress"
      android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
      <intent-filter>
        <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
      </intent-filter>
      <meta-data
        android:name="android.support.wearable.complications.SUPPORTED_TYPES"
        android:value="RANGED_VALUE" />
      <meta-data
        android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
        android:value="3600" />
    </service>

    <service
      android:name=".NextPrayerComplicationService"
      android:exported="true"
      android:label="@string/wear_complication_next_prayer"
      android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
      <intent-filter>
        <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
      </intent-filter>
      <meta-data
        android:name="android.support.wearable.complications.SUPPORTED_TYPES"
        android:value="SHORT_TEXT" />
      <meta-data
        android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
        android:value="900" />
    </service>
  </application>
</manifest>
